.EightBall{
    border-radius: 50%;
    color: white;
    height:250px;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.msg{
    text-align: center;
}